ul.context-menu-list > li
{
    margin-left: 0px !important;
}


.smartindex-treeview ul,
.smartindex-treeview li
{
    padding: 0;
    margin: 0;
    list-style: none;
}

.smartindex-treeview li.namespace.closed > ul
{
    display: none;
}

.smartindex-error 
{
    background-color: #F88EA0;
    display: block;
    padding: 10px;
    border: solid black 1px;    
    -moz-border-radius: 10px;
    -webkit-border-radius: 10px;
    -khtml-border-radius: 10px;
    border-radius: 10px;
    color: black;
}

.ui-button-text
{
 padding: 3px !important;    
}

.smartindex-input-dialog
{
    font-size: 13px;
}

.smartindex-input-dialog input
{
    width: 100%;
}

.smartindex-input-dialog .ui-dialog-content
{
    padding: 1.5em 1em 1.5em 1em;
}

.smartindex-input-dialog p
{
    margin-bottom: 0.5em;
}

.smartindex-input-dialog .ui-dialog-titlebar-close {
  display: none;
}
.smartindex-default-theme
{
    font-size: 14px;
}

.smartindex-default-theme li
{
    line-height: 1.35em;
}

.smartindex-default-theme li > ul
{
    padding-left: 1em !important;
}

.smartindex-default-theme li > div
{
    background-repeat: no-repeat;
    background-position: left center;
    padding-left: 0.6em;
}

.smartindex-default-theme li.namespace > div > a
{
    font-weight: bold;
    color: rgb(43, 115, 183) !important;
}

.smartindex-default-theme.smartindex-highlite div:hover > a
{
    /*background-color: yellow !important;*/
    opacity: 0.75 !important;
}

.smartindex-default-theme li.namespace.closed > div
{
    background-image: url("/lib/plugins/smartindex/themes/default/img/folder.gif");    
}

.smartindex-default-theme li.namespace.open > div
{
    background-image: url("/lib/plugins/smartindex/themes/default/img/folderopen.gif");    
}

.smartindex-default-theme li.page > div
{
    background-image: url("/lib/plugins/smartindex/themes/default/img/page.gif");    
}

.smartindex-default-theme li.page > div > a
{
    font-weight: normal;
    color: rgb(0, 136, 0) !important;
}

.smartindex-default-theme li > div > a:hover
{
    text-decoration: none;
}
.smartindex-folder-theme 
{
    font-family: Verdana, Arial, Helvetica, sans-serif;    
    /*font-size: 1.3em;*/
    font-size: 16px;
}

.smartindex-folder-theme li > div
{
    background-repeat: no-repeat;
    padding-left: 25px;
    background-position:left center ; 
    background-repeat: no-repeat;
    cursor: pointer;
}

.smartindex-folder-theme > ul 
{
    padding-left: 0px !important;    
}

.smartindex-folder-theme li.namespace > ul
{
    padding-left: 15px !important;
}

.smartindex-folder-theme li > div
{
    /*background-size: 1em 1em;*/
}

.smartindex-folder-theme li.namespace.closed > div
{
    background-image: url("/lib/plugins/smartindex/themes/folder/img/folder-horizontal.png");    
}

.smartindex-folder-theme li.namespace.open > div
{
    background-image: url("/lib/plugins/smartindex/themes/folder/img/folder-horizontal.png");    
}

.smartindex-folder-theme li.page > div
{
    background-image: url("/lib/plugins/smartindex/themes/folder/img/document.png");    
}

.smartindex-folder-theme li.waiting > div
{
    background-image: url("/lib/plugins/smartindex/themes/folder/img/ajax-loader.gif") !important;    
}

.smartindex-folder-theme li.page > a
{
    font-weight: normal;
}

.smartindex-folder-theme li > div > a:hover 
{
    text-decoration: none;
}

.smartindex-folder-theme.smartindex-highlite div:hover > a
{
    /*background-color: yellow !important;*/
    opacity: 0.7;
}

.smartindex-folder-theme span.headpage
{
    background-image: url("/lib/plugins/smartindex/themes/folder/img/document.png");
    width: 16px;
    height: 16px;
    background-repeat: no-repeat;
    float: left;
}
.smartindex-simple-theme 
{
    font-family: Verdana, Arial, Helvetica, sans-serif;    
    font-size: 13px;
}

.smartindex-simple-theme li.namespace > ul
{
    padding-left: 12px !important;
}

.smartindex-simple-theme li.namespace > div
{
    background-repeat: no-repeat;
    background-position: left center;
    padding-left: 12px;
}

.smartindex-simple-theme li.namespace > div > a
{
    color: rgb(43, 115, 183) !important;
}

.smartindex-simple-theme li.page > div > a
{
    color: rgb(0, 136, 0) !important;
}


.smartindex-simple-theme.smartindex-highlite div:hover > a
{
    background-color: yellow !important;   
}

.smartindex-simple-theme li.namespace.closed > div
{
    background-image: url("/lib/plugins/smartindex/themes/simple/img/plus.gif");    
}

.smartindex-simple-theme li.namespace.open > div
{
    background-image: url("/lib/plugins/smartindex/themes/simple/img/minus.gif");    
}

.smartindex-simple-theme li.page > a
{
    font-weight: normal;
}

.smartindex-simple-theme li > div > a:hover
{
    text-decoration: none;
}
.smartindex-tree-theme ul
{
    line-height: 18px;
    font-family: Verdana, Geneva, Arial, Helvetica, sans-serif;
    font-size: 11px;
}

.smartindex-tree-theme li > div > a:active:hover:link:visited
{
    color: rgb(51, 51, 51) !important;
    text-decoration: none !important;
}

.smartindex-tree-theme span
{
    float: left;
    width:18px; 
    height:18px;
    display: inline-block;
    background-position: center center !important;
    background-repeat: no-repeat !important;
}

.smartindex-tree-theme li.open > div > span.folder
{
    background: url("/lib/plugins/smartindex/themes/tree/img/folderopen.gif");
}

.smartindex-tree-theme li.closed > div > span.folder
{
    background: url("/lib/plugins/smartindex/themes/tree/img/folder.gif");
}

.smartindex-tree-theme li.waiting > div > span.folder
{
    background-image: url("/lib/plugins/smartindex/themes/tree/img/ajax-loader.gif");
    background-size: 10px 10px;
}


.smartindex-tree-theme span.line
{
    background: url("/lib/plugins/smartindex/themes/tree/img/line.gif");
}

.smartindex-tree-theme span.noline
{
}

.smartindex-tree-theme span.file
{
    background: url("/lib/plugins/smartindex/themes/tree/img/page.gif");
}

.smartindex-tree-theme li.closed > div > span.coll
{
    background: url("/lib/plugins/smartindex/themes/tree/img/plus.gif");
}

.smartindex-tree-theme li.open > div > span.coll
{
    background: url("/lib/plugins/smartindex/themes/tree/img/minus.gif");
}

.smartindex-tree-theme span.cross
{
    background: url("/lib/plugins/smartindex/themes/tree/img/join.gif");
}

.smartindex-tree-theme li:last-child > div > span.cross
{
    background: url("/lib/plugins/smartindex/themes/tree/img/joinbottom.gif");
}

.smartindex-tree-theme li.closed:last-child > div > span.coll
{
    background: url("/lib/plugins/smartindex/themes/tree/img/plusbottom.gif");
}

.smartindex-tree-theme li.open:last-child > div > span.coll
{
    background: url("/lib/plugins/smartindex/themes/tree/img/minusbottom.gif");
}

.smartindex-admin-list
{
    list-style-type: none;
}

.dokuwiki .page .smartindex-admin-list li
{
    color: black;
    padding-top: 10px;
    padding-bottom: 10px;
    background-image: none;
    background-color: #f6f6f6;
}